<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<footer>
    <p id="footer-text">&#169 2021 FULL GAMER. 
        <a href="HowDidYouFoundThis">
            <i id="EasterEgg" class="fas fa-jedi"></i>
        </a>
    </p>
</footer>