<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<header>
    <div class="d-headercontent">
        <div class="d-header-brand">
            <a href="/"><img class="d-header-logo" src="/img/FULL GAMER.png" alt="FULL GAMER"></a>
        </div>

        <div class="d-header-searchbar">
            <input id="buscar" placeholder="Buscar productos..." type="text"><button class="botonlupa"><i id="lupa" class="fas fa-search"></i></button></li>
        </div>

        <div class="d-header-shoppingcart">
            <a href="carrito"><i id="carrito" class="fas fa-shopping-cart"></i></a>
        </div>

        <div class="d-header-login">
            <a id="login" href="login">Login</a>
        </div>
    </div>
</header>