<!DOCTYPE html5>
<html lang="en">
    
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/agregarProducto.css">
    <title>Subir producto</title>
</head>

<body>
<%- include('./partials/header.ejs') %>

<h1>Subir productos a la web</h1>

<form action="#" method="POST">

<!-- acá van el nombre, descripción e imagen (se tiene que poder subir desde la pc) -->

<div>
    <label for="categoria">Categoría:</label>
        <select name="categoria" required>
            <option value="mouse">Mouse</option>
            <option value="teclado">Teclado</option>
            <option value="microfono">Micrófono</option>
            <option value="auriculares">Auriculares</option>
            <option value="mousepad">Mouse pad</option>
            <option value="gabinete">Gabinete</option>
            <option value="capturadora">Capturadora de pantalla</option>
</div>

<div>
    <label for="precio">Precio:</label>
        <input type="number" name="precio" id="precio" required>
</div>

<div>
    <label for="fechaDeSubida">Fecha de subida:</label>
        <input type="datetime-local" name="precio" id="fechaDeSubida" required>
</div>

<div>
    <button type="submit">Crear producto</button>
    <button type="submit">Modificar producto</button>
</div>

</form>

<%- include('./partials/footer.ejs') %>

</body>


</html>

<!-- 1. hay que poner campos obligatorios -->