<!DOCTYPE html5>
<html lang="en">
    
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/carrito.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <div id="carro">
            <h2 id="Carrito">Carrito</h2>
            <form>
                <label for="producto"></label>
                <label for="producto2"></label>
                <button id="Comprar" type="submit">Comprar</button>
            </form>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>

</body>

</html>