<!DOCTYPE html5>
<html lang="en">
    
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/carrito.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <div id="carro">
            <h2 id="Carrito">Carrito</h2>
            <div class="producto">
                <img src="/img/MSI-Clutch-GM08.jpg" alt="Mouse MSI Clutch GM08 Black">
                <h5 class="nombre-producto">Mouse MSI Clutch GM08 black</h5>
                <a href="./product">Ver en Tienda</a>
                <p class="precio-cantidad">1 x $1.504</p>
                <i class="fas fa-times cruz"></i>
            </div> 
            <div class="buscarmasproductos">
                <input id="buscar" placeholder="Seguir buscando productos" type="text"><button class="botonlupa"><i id="lupa" class="fas fa-search"></i></button></li>
            </div>
            <div class="botton">
                <p class="total">Total: $1.504</p>
                <p class="textoenvio">Calcule su envío en el próximo paso</p>
                <form>
                <label for="producto"></label>
                <button id="Comprar" type="submit">Comprar</button>
                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>

</body>

</html>