<!DOCTYPE html5>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logoFullGamer.jpg">
    <link rel="stylesheet" href="/css/Home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css\carrito.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Full Gamer</title>
</head>

<body>
    <header>
        <div class="d-headercontent">
            <div class="d-header-brand">
                <a href="/"><img class="d-header-logo" src="img\FULL GAMER.png" alt="FULL GAMER"></a>
            </div>

            <div class="d-header-searchbar">
                <input id="buscar" placeholder="Buscar productos..." type="text"><button class="botonlupa"><i id="lupa" class="fas fa-search"></i></button></li>
            </div>

            <div class="d-header-shoppingcart">
                <a href="carrito"><i id="carrito" class="fas fa-shopping-cart"></i></a>
            </div>

            <div class="d-header-login">
                <a id="login" href="login">Login</a>
            </div>
        </div>
    </header>

    <main>
        <div id="carro">
            <h2 id="Carrito">Carrito</h2>
            <form>
                <label for="producto"></label>
                <label for="producto2"></label>
                <button id="Comprar" type="submit">Comprar</button>
            </form>
        </div>
    </main>

    <footer>
        <p id="footer-text">&#169 2021 FULL GAMER. <a href="HowDidYouFoundThis"><i id="EasterEgg" class="fas fa-jedi"></i></a></p>
    </footer>

</body>

</html>