<!DOCTYPE html5>
<html lang="en">
    
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/carrito.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <div id="carro">
            <h2 id="Carrito">Carrito</h2>
            <div class="contenedor">
                <div class="producto">
                    <img class="imagen" src="/img/MSI-Clutch-GM08.jpg" alt="Mouse MSI Clutch GM08 Black">
                    <div class="detalles">
                        <h5 class="nombre-producto">Mouse MSI Clutch GM08 black</h5>
                        <p class="precio-cantidad">1 x $1.504</p>
                        <a class="verentienda" href="./product">Ver en Tienda</a>
                    </div>
                </div>
                <i class="fas fa-times cruz"></i>
            </div>
            
            <div class="buscarmasproductos">
                <input id="buscar-carro" placeholder="Seguir buscando productos" type="text"><i id="lupacarro" class="fas fa-search"></i>
            </div>
            <div class="botton">
                <b class="total">Total: $1.504</b>
                <b class="textoenvio">Calcule su envío en el próximo paso</b>
                <label for="producto"></label>
                <a id="Comprar" href="./login" type="submit">Comprar</a>
            </div>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>

</body>

</html>