<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css\Home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Full Gamer</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img id="Fullgamerlogo" src="img\logoFullGamer.jpg"></a></li>
                <li>
                    <p><input placeholder="Buscar productos..." type="text"><i class="fas fa-search"></i></p></li>
                <li><a href="carrito"><i class="fas fa-shopping-cart"></i></a></li>
                <li><a href="login">Log In</a></li>
            </ul>
        </nav>
    </header>
<main>
        <section id="banner">
            <div class="home-banner">
                <p class="text-1">Todo lo que necesitás para tu setup</p>
                <p class="text-2">Encontralo en <span class="title-banner">FULL GAMER</span></p>
            </div>
            <div class="opacity"></div>
        </section>

        <section id="carousel">
            <div class="products">
                <article class="producto">
                    <img src="/img/MSI-Clutch-GM08.jpg" alt="Mouse MSI Clutch GM08 Black">
                    <div class="descripcion-producto">
                        <p class="nombre-producto">Mouse MSI Clutch GM08 Black</p>
                        <a href="">Ver más</a>
                    </div>
                </article>
                <article class="producto">
                    <img src="/img/Redragon-DITI-Outemu.jpg" alt="Teclado Redragon Diti Outemu">
                    <div class="descripcion-producto">
                        <p class="nombre-producto">Teclado Redragon Diti Outemu</p>
                        <a href="">Ver más</a>
                    </div>
                </article>
                <article class="producto">
                    <img src="/img/Kotion-each-G2000-3.5mm.jpg" alt="Gamer headset Kotion Each G2000 azul">
                    <div class="descripcion-producto">
                        <p class="nombre-producto">Gamer headset Kotion Each G2000 azul</p>
                        <a href="">Ver más</a>
                    </div>
                </article>
                <article class="producto">
                    <img src="/img/Screecher-RTX-3090-24GB.png" alt="Gaming PC Screecher RTX 3090 24GB">
                    <div class="descripcion-producto">
                        <p class="nombre-producto">Gaming PC Screecher RTX 3090 24GB</p>
                        <a href="">Ver más</a>
                    </div>
                </article>
                <article class="producto">
                    <img src="/img/Keyboard-comb-wired-mini-T9-pro.jpg" alt="Teclado Delux gamer mini T9 pro">
                    <div class="descripcion-producto">
                        <p class="nombre-producto">Teclado Delux gamer mini T9 pro</p>
                        <a href="">Ver más</a>
                    </div>
                </article>
                <article class="producto">
                    <img src="/img/RGB-Mouse-pad-large-gaming.jpg" alt="Mouse pad RGB gamer large">
                    <div class="descripcion-producto">
                        <p class="nombre-producto">Mouse pad RGB gamer large</p>
                        <a href="">Ver más</a>
                    </div>
                </article>
                <article class="producto">
                    <img src="/img/Capture-card-live-gamer-4K.png" alt="Capture card Live Gamer 4K">
                    <div class="descripcion-producto">
                        <p class="nombre-producto">Capture card Live Gamer 4K AVerMedia</p>
                        <a href="">Ver más</a>
                    </div>
                </article>
                <article class="producto">
                    <img src="/img/Microphone-spirit-gamer-EKO.jpg" alt="Micrófono Spirit of Gamer EKO">
                    <div class="descripcion-producto">
                        <p class="nombre-producto">Micrófono Spirit of Gamer EKO</p>
                        <a href="">Ver más</a>
                    </div>
                </article>
            </div>

            <button class="prev"><a href="" class="a-carousel">&#10094;</a></button>
            <button class="next"><a href="" class="a-carousel">&#10095;</a></button>

        </section>

    
    </main>

    <footer>
        <p id="footer-text">&#169 2021 FULL GAMER. <a href="HowDidYouFoundThis"><i id="EasterEgg" class="fas fa-jedi"></i></a></p>

    </footer>

</body>

</html>