<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@200&display=swap" rel="stylesheet">
    <title>Full Gamer</title>
</head>

<body>
    <header>
        <img src="" alt="">
        <nav>
            <ul>
                <ul><input placeholder= "Buscar..."></ul>
                <ul></ul>
                <ul></ul>
                <ul></ul>
            </ul>
        </nav>
    </header>

    <main>
        <section id="banner">
            <div id="home-banner">
                <p id="text-1">Todo lo que necesitás para tu setup</p>
                <p id="text-2">Encontralo en <span id="title-banner">FULL GAMER</span></p>
            </div>
            <div id="opacity"></div>
        </section>
    </main>

    <footer>
        <p id="footer-texto">
            &copy;&#169 FULL GAMER
        </p>
    </footer>

</body>

</html>
