<!DOCTYPE html5>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logoFullGamer.jpg">
    <link rel="stylesheet" href="/css/producto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Full Gamer</title>
</head>

<body>

<div>
<img id="foto-chiquita" href="D_NQ_NP_685390-MLA45537893000_042021-O.png" alt="foto de producto 1">
<img href="image.png" alt="foto de producto 2">
<img id="foto-principal" href="D_NQ_NP_685390-MLA45537893000_042021-O.png" alt="foto de producto 1">
<!-- agregar fotos a la carpeta img -->

<h1>
    Mouse MSI Clutch 
GM08 black
</h1>
<h3>$1.504</h3>
<img id="medios-de-pago" href="" alt="medios de pago">
<img id="estrellitas" href="" alt="puntaje del producto">
<!-- agregar toggle lists e imágenes -->
</div>

</body>

</html>