<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
    <title>Full Gamer | Registrarse</title>
</head>

<body>

    <%- include('./partials/header.ejs') %>

    <main>
        <div id="caja-formulario">
            <h2 id="registrarse">Registrarse</h2>
            <form method="POST" id="formulario">
                <label for="usuario"></label>
                <input type="text" name="usuario" id="usuario" class="input-text" placeholder="Usuario" required>
                <span class="feedback"></span>

                <label for="email"></label>
                <input type="email" name="email" id="email" class="input-text" placeholder="Correo electrónico"
                    required>
                <span class="feedback"></span>

                <div class="caja-contraseña">
                    <label for="password"></label>
                    <input type="password" name="password" class="password input-text" placeholder="Contraseña"
                        required>
                    <button type="button" class="toggle-password"></button>
                    <span class="feedback"></span>
                </div>

                <div class="caja-contraseña">
                    <input type="password" name="password" class="password input-text"
                        placeholder="Confirmar contraseña" required>
                    <button type="button" class="toggle-password"></button>
                    <span class="feedback"></span>
                </div>

                <div id="caja-preferencias">
                    <div class="div-preferencia">
                        <label for="recordarme" class="container-preferencia">
                            <input type="radio" name="recordarme" id="recordarme"> Recordarme
                            <span class="checkmark">...</span>
                        </label>
                    </div>
                    <div class="div-preferencia">
                        <label for="notificacion" class="container-preferencia">
                            <input type="radio" name="notificaciones" id="notificacion" class="notificaciones">
                            Recibir notificaciones
                            <span class="checkmark">...</span>
                        </label>
                    </div>
                </div>

                <button type="submit" id="crear-cuenta"><a href="/">CREAR CUENTA</a></button>

                <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
            </form>
        </div>

        <button type="button" id="google"> <img src="/img/google-logo.png" alt="Logo Google">Sign in with
            Google</button>
    </main>

    <%- include('./partials/footer.ejs') %>

</body>

</html>