* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Spartan', sans-serif;
    max-width: 100%;
}

body{
    background-color: #111010;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    background-image: url("/img/gamer-1.jpg");
    background-position: center;
    background-size: cover;
}

h1{
    background: rgb(154,0,0);
    background: linear-gradient(90deg, rgba(154,0,0,0.6) 20%, rgba(154,0,0,0.6) 20%);
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    margin: 15px auto;
    padding: 20px;
    padding-top: 30px;
    color: white;
    text-align: center;
}

.formulario-producto{
    background: rgb(154,0,0);
    background: linear-gradient(90deg, rgba(154,0,0,0.6) 20%, rgba(154,0,0,0.6) 20%);
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    margin: 30px auto;
    padding: 20px;
    padding-top: 30px;
    color: white;
    text-align: center;
}

.nombre-producto{
    margin: 5px;
    border-radius: 30px;
}

.descripcion-producto{
    margin: 5px;
    border-radius: 30px;
}

.imagen-producto{
    margin: 5px;
    border-radius: 30px;
}

.categoria-producto{
    margin: 5px;
    border-radius: 30px;
}

.precio-producto{
    margin: 5px;
    border-radius: 30px;
}

.fecha-producto{
    margin: 5px;
    border-radius: 30px;
}

.modificar-producto{
    margin: 5px;
    border-radius: 30px;
}

#nombre{
    background-color: #FAFAFA;
    color: black;
    background-repeat: no-repeat;
    background-position: 5px left;
    background-size: 5%;
    background-position-y: center;
}

#descripcion{
    background-color: #FAFAFA;
    color: black;
    background-repeat: no-repeat;
    background-position: 5px left;
    background-size: 5%;
    background-position-y: center;
}

#imagen{
    background-color: #FAFAFA;
    color: black;
    background-repeat: no-repeat;
    background-position: 5px left;
    background-size: 5%;
    background-position-y: center;
}

#categoria{
    background-color: #FAFAFA;
    color: black;
    background-repeat: no-repeat;
    background-position: 5px left;
    background-size: 5%;
    background-position-y: center;
}

#precio{
    background-color: #FAFAFA;
    color: black;
    background-repeat: no-repeat;
    background-position: 5px left;
    background-size: 5%;
    background-position-y: center;
}

#fechaDeSubida{
    background-color: #FAFAFA;
    color: black;
    background-repeat: no-repeat;
    background-position: 5px left;
    background-size: 5%;
    background-position-y: center;
}

.form-button{
    background-color: #FAFAFA;
    color: black;
    background-repeat: no-repeat;
    background-position: 5px left;
    background-size: 5%;
    background-position-y: center;
}

form input {
    border-radius: 5px;
    border-style: hidden;
    background-color: #323232;
    background-position: 5px center;
    background-repeat: no-repeat;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    width: 90%;
    margin: 10px;
    margin-bottom: 10px;
    border: solid 1.5px transparent;
    transition: border 0.5s;
}

form input:focus {
    outline: none;
    border: solid 1px black;
}

::placeholder {
    color: black;
    font-size: 15px;
}