* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Spartan', sans-serif;
}

body{
    background-color: #111010;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background-image: url("/img/joystick.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.carro {
    background: linear-gradient(90deg, rgba(154,0,0,0.6) 20%, rgba(154,0,0,0.6) 20%);
    flex: 1 1 auto;
    min-width: 30%;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    margin: 30px auto;
    padding: 20px;
    padding-top: 30px;
}

#carrito-titulo {
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
}

main ::placeholder {
    color: white;
    opacity: 1;
    font-size: 0.5rem;
    padding-left: 5%;
}

.contenedor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}


.producto{
    width: 90%;
    background-color: #323232;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20px;
    font-size: 0.8rem;
}

.image-name {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.imagen{
    width: 40%;
    margin: 5px 10px;
    border-radius: 20px;
}

.detalles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.55rem; 
}

.nombre-producto{
    text-align: center;
    width: 50%;
}

.precio-cantidad{
    width: 40%;
    text-align: right;
}

.quantity {
    width: 20px;
    font-size: 0.6rem;
    color: white;
    background-color: #323232;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
}

.quantity:focus {
    outline: none;
}

.verentienda{
    text-align: left;
    padding-right: 10px;
}

.cruz{
    color: white;
    font-size: 0.8em;
    cursor: pointer;
}

.buscarmasproductos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

#buscar-carro{
    color: white;
    width: 90%;
    background-color: transparent;
    border-radius: 20px;
    border: solid 1px white;
    padding: 5px;
    transition: border 0.5s;
}

#buscar-carro:focus {
    outline: none;
    border: solid 1px black;
}

#lupacarro{
    color: white;
}

.bottom{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.comprar-total {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.total{
    width: 40%;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    background-color: #323232;
    padding: 0.5rem;
    border-radius: 15px;
}

.textoenvio{
    color: white;
    width: 40%;
    text-align: left;
    margin-block-end: 0%;
    margin-block-start: 0%;
    font-size: 0.7rem;
    justify-self: start;
}

.comprar{
        background-color: black;
        color: white;
        border-radius: 15px;
        padding: 10px;
        margin: 5px;
}

@media (min-width: 500px) {

    .carro {
        max-width: 60%;
    }

    #carrito-titulo {
        font-size: 1.5rem;
    }

    .detalles {
        flex-direction: row-reverse;
        justify-content: space-evenly;
        font-size: 0.6rem;
    }


    .precio-cantidad {
        padding-right: 20px;
    }

    input[type=number]::-webkit-inner-spin-button {
        opacity: 1;
    }

    .cruz {
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    .carro {
        min-width: 20%;
        max-width: 45%;
    }

    main ::placeholder {
        font-size: 0.8rem;
    }

    .detalles {
        justify-content: space-around;
        font-size: 0.8rem;
    }

    .precio-cantidad {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .verentienda {
        width: 50%;
        text-align: center;
    }

    .quantity {
        width: 40px;
        font-size: 0.8rem;
    }
}
