* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Spartan', sans-serif;
}

body{
    background-color: #111010;
    height: 100vh;
}

main {
    background-color: black;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}

#carro {
    background-color: #9a0000;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    margin: 30px auto;
    padding: 20px;
    padding-top: 30px;
}

#Carrito {
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form input {
    border-radius: 5px;
    border-style: none;
    background-color: #323232;
    background-position: 5px center;
    background-repeat: no-repeat;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 90%;
    margin: 10px;
}

main ::placeholder {
    color: white;
    opacity: 1;
    font-size: 0.6rem;
}

form button {
    background-color: #323232;
    border-radius: 5px;
    border-style: none;
    color: white;
    padding: 10px 20px;
}

form p {
    margin: 20px;
    margin-bottom: 0;
    font-size: 0.8rem;
    font-weight: 200;
}

form p a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.contenedor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.producto{
    width: 95%;
    background-color: #323232;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 20px;
}

.imagen{
    width: 30%;
    margin: 10px 20px;
    border-radius: 20px;
}

.detalles{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    margin: auto 0; 
}

.nombre-producto{
    text-align: left;
    width: 50%;
    align-self: flex-start;
}

.precio-cantidad{
    width: 50%;
    text-align: right;
}

.verentienda{
    align-self: flex-end;
    text-align: left;
    margin-top: 1rem;
}

.cruz{
    color: white;
}

.buscarmasproductos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

#buscar-carro{
    width: 90%;
    background-color: transparent;
    border-radius: 20px;
    border: solid 1px white;
}

#lupacarro{
    color: white;
}

.bottom{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.total{
    width: 40%;
    color: white;
    margin-block-end: 0%;
    margin-block-start: 0%;
    background-color: #323232;
    padding: 0.5rem;
    border-radius: 20px;
    justify-self: start;
}

.textoenvio{
    color: white;
    width: 20%;
    text-align: left;
    margin-block-end: 0%;
    margin-block-start: 0%;
    font-size: 0.7rem;
    justify-self: start;
}

#Comprar{
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 0.5rem;
    border-radius: 20px;
    margin-left: 10rem;
}