/* Header */
header {
    width: 100vw;
    background-color: black;
    border-bottom: 5px solid #9A0000;
}

::placeholder {
    color: white;
}


/* Contenido del header */
.d-headercontent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/* Div para la imagen del header */
.d-header-brand {
    width: 50%;
    background: none;
    border: none;
    outline: none;
    order: -1;
    align-self: center;
}

/* Imagen del header */
.d-header-logo {
    height: 70px;
}

/* Alineacion */
.logo-letra{
    text-align: right;
    display: flex;
}

/* Searchbar del header */
.d-header-searchbar{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    order: 2;
}

/* Input para buscar */
#buscar{
    background-color: black;
    border-radius: 15px;
    width: 80%;
    height: 30px;
    text-align: center;
    border-color: white;
    color: white;
    transition: border 0.5s;
}

#buscar:focus {
    outline: none;
    border: solid 1.2px #9a0000;
}

/* Boton del Icono lupa */
.botonlupa{
    background-color: black;
    border-style: none;
}

/* Color de la lupa */
#lupa{
    color: white;
    
}

/* Div del shopping cart */
.d-header-shoppingcart{
    width: 30px;
    order: 1;
    justify-self: flex-end;
}

/* Color del icono carrito */
#carrito{
    color: white;
}

/* Div del Login */
.d-header-login {
    order: 1;
    justify-self: flex-end;
}

/*Color del login */
#login{
    color: white;
}

@media (min-width: 768px) {

    .d-headercontent {
        justify-content: space-around;
    }

    .d-header-brand {
        width: 10rem;
        justify-self: flex-start;
        align-self: center;
    }

    .d-header-searchbar {
        margin: 2rem auto;
        width: 40%;
        order: 1;
        justify-self: center;

    }

    .d-header-shoppingcart {
        order: 2;
        justify-self: flex-end;
    }

    .d-header-login {
        margin-right: 2rem;
        order: 2;
        justify-self: flex-end;
    }
}