* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Spartan', sans-serif;
    max-width: 100%;
}

/* Header */
header {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.95);
    border-bottom: 5px solid #9A0000;
}

::placeholder {
    color: #FAFAFA;
    font-size: 12px;
}


/* Contenido del header */
.d-headercontent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/* Div para la imagen del header */
.d-header-brand {
    width: 50%;
    background: none;
    border: none;
    outline: none;
    order: -1;
    align-self: center;
}

/* Imagen del header */
.d-header-logo {
    height: 70px;
}

/* Alineacion */
.logo-letra{
    text-align: right;
    display: flex;
}

#search-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 2;
}

/* Searchbar del header */
.d-header-searchbar{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Input para buscar */
#buscar{
    background-color: black;
    border-radius: 15px;
    width: 80%;
    height: 30px;
    text-align: center;
    border-color: #FAFAFA;
    color: #FAFAFA;
    transition: border 0.5s;
}

#buscar:focus {
    outline: none;
    border: solid 1.2px #9a0000;
}

/* Boton del Icono lupa */
.botonlupa{
    background-color: black;
    border-style: none;
}

/* Color de la lupa */
#lupa{
    color: #FAFAFA;
    
}

.search-results {
    display: none;
    width: 80%;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 1rem;
    background-color: rgba(32, 32, 32, 0.93);
    color: rgba(185, 0, 0, 1);
    margin-right: 1.6rem;
    border-left: solid 1.2px #9a0000;
    border-bottom: solid 1.2px #9a0000;
    border-right: solid 1.2px #9a0000;
    position: absolute;
    top: 1.9rem;
    z-index: 999;
}

.result {
    padding: 0.5rem;
}

.redirect {
    cursor: pointer;
}

/* Div del shopping cart */
.d-header-shoppingcart{
    width: 1px;
    order: 1;
    justify-self: flex-end;
    position: relative;
}

.products-in-cart {
    display: none;
    background-color: black;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0px 1px;
    border-radius: 50%;
    color: #FAFAFA;
    border: 2px solid #9A0000;
    position: absolute;
    bottom: 0.7rem;
    right: 0.3rem;
    text-align: center;
}


/* Color del icono carrito */
#carrito{
    color: white;
    cursor: pointer;
}

/* Div del Login */
.d-header-login {
    order: 1;
    justify-self: flex-end;
}

.user-profile {
    order: 1;
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.user {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2px;
    border: 1px solid rgba(185, 0, 0, 1);
    background-color: rgba(32, 32, 32, 0.93);
    color: rgba(185, 0, 0, 1);
    border-radius: 10px;
    font-size: 0.7rem;
    font-weight: bold;
}

.user-image {
    width: 15%;
    border-radius: 50%;
}

.down-arrow {
    font-size: 0.8rem;
    color: rgba(252, 199, 199, 1);
    cursor: pointer;
}

.options {
    display: none;
}

.profile {
    color: rgba(252, 199, 199, 1);
    padding: 2px;
    border-bottom: solid black 1px;
}

.destroy-session {
    color: rgba(185, 0, 0, 1);
    padding: 2px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: bold;
}

.show {
    background-color: rgba(32, 32, 32, 0.93);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid rgba(185, 0, 0, 1);
    border-top: none;
    position: absolute;
    top: 1.3rem;
}

/*Color del login */
#login{
    color: #FAFAFA;
}

@media (min-width: 500px) {
    .show {
        top: 1.8rem;
    }
}

@media (min-width: 768px) {

    .d-headercontent {
        justify-content: space-around;
    }

    .d-header-brand {
        width: 20%;
        justify-self: flex-start;
        align-self: center;
    }

    .d-header-searchbar {
        margin: 2rem auto;
        order: 1;
        justify-self: center;

    }

    #search-form {
        order: 1;
        width: 40%;
    }


    .d-header-login {
        margin-right: 0.5rem;
        order: 2;
        justify-self: flex-end;
    }

    .user-profile {
        width: 15%;
        margin-right: 2rem;
        order: 2;
        justify-self: flex-end;
    }

    .show {
        top: 1.9rem;
    }

    .destroy-session {
        cursor: pointer;
    }

}