* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Spartan', sans-serif;
    max-width: 100%;
}

body{
    background-color: #111010;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background-image: url(/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formulario {
    background: rgb(154,0,0);
    background: linear-gradient(90deg, rgba(154,0,0,0.6) 20%, rgba(154,0,0,0.6) 20%);
    color: white;
    flex: 1 1 auto;
    min-width: 30%;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 10px;
    margin: 30px auto;
    padding: 20px;
    padding-top: 30px;
}

#Ingresar {
    margin-bottom: 10px;
    color: white;
    font-size: 1rem;
    font-weight: 100;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
}

form input {
    border-radius: 5px;
    border-style: hidden;
    background-color: #323232;
    background-position: 5px center;
    background-repeat: no-repeat;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    width: 90%;
    margin: 10px;
    margin-bottom: 10px;
    border: solid 1.5px transparent;
    transition: border 0.5s;
}

form input:focus {
    outline: none;
    border: solid 1px black;
}



::placeholder {
    color: white;
    opacity: 1;
    font-size: 0.5rem;
    padding-left: 5%;
}

.email{
    background-image: url(/img/email.svg);
    background-repeat: no-repeat;
    background-position: 5px left;
    background-size: 5%;
    background-position-y: center;
}

.usuario {
    background-image: url(/img/user.svg);
    background-repeat: no-repeat;
    background-position: 5px left;
    background-size: 5%;
    background-position-y: center;
}

.password {
    background-image: url(/img/padlock.svg);
    background-repeat: no-repeat;
    background-position: 5px left;
    background-size: 5%;
    background-position-y: center;
}

.feedback {
    width: 90%;
    color: rgba(252, 199, 199, 1);
    font-weight: bold;
    font-size: 0.6rem;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 1.5em;
}

.toggle-password {
    background-color: transparent;
    background-image: url(/img/no-visibility.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    width: 3%;
    height: 3%;
    position: absolute;
    right: 12px;
    top: 87px;
    border-radius: 5px;
    border-style: none;
    color: white;
    padding: 10px 20px;
}

/* Cuando clickean el botón de visibilidad */
.toggle-password:active {
    background-image: url(/img/visibility.svg);
}

.feedback {
    width: 90%;
    color: rgba(252, 199, 199, 1);
    font-weight: bold;
    font-size: 0.6rem;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 1.5em;
}

#preferencias {
    width: 100%;
    font-size: 0.8rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px 10px;
    position: relative;
}

.container-preferencia input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

.container-preferencia {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}

.checkmark {
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: white;
    justify-self: flex-start;
    cursor: pointer;
    color: transparent;
}

.container-preferencia input:checked ~ .checkmark {
    background-color: black;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-preferencia input:checked ~ .checkmark:after {
    display: block;
}

.container-preferencia .checkmark:after {
    bottom: 25%;
    left: 25%;
    width: 0.2em;
    height: 0.5em;
    border: solid #323232;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

form button {
    background-color: #323232;
    border-radius: 5px;
    border-style: none;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.5s;
}

form button:hover {
    background-color: rgba(32, 32, 32, 1);
}

form p {
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 0.7rem;
    font-weight: 200;
    color: white;
    text-align: center;
}

form p a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#google {
    border-radius: 10px;
    border-style: none;
    background-color: white;
    max-width: 50%;
    max-height: 5%;
    margin-bottom: 20px;
    align-self: center;
    color: #4285f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    flex: 1 1 auto;
}

#google img {
    width: 15px;
    justify-self: flex-start;
    margin: 2px;
}

@media (min-width: 500px) {
    #formulario {
        border-radius: 20px;
        margin-bottom: 20px;
        max-height: 80%;
    }

    .toggle-password {
        background-size: 60%;
    }

    #google {
        max-width: 30%;
    }
}

@media (min-width: 768px) {

    #formulario {
        max-width: 35%;
        border-radius: 30px;
        max-height: 65%;
    }

    #Ingresar {
        font-size: 1.5rem;
    }

    form input {
        padding-left: 8%;
    }

    ::placeholder {
        font-size: 0.7rem;
    }

    .toggle-password {
        right: 10px;
    }

    #preferencias {
        font-size: 0.7rem;
    }

    #google {
        font-size: 0.9rem;
        max-width: 40%;
        justify-content: space-around;
    }
}