* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Spartan', sans-serif;
    color: white;
}

body {
    background-color: black;
}

button {
    background-color:rgb(154,0,0);
    border-radius: 10px;
    padding: 1%;
    width: 120px;
}

#containers {
    background-color: rgba(50, 50, 50, 1);
    border-radius: 10px;
    margin: 20px;
    flex-direction: row;
}

section {
    width:50%;
}

article {
    width:50%;
}

#foto-chiquita {
    border-radius: 10px;
    width: 110px;
}

#foto-principal {
    border-radius: 10px;
    width: 515px;

}

h3 {
    background-color:black;
    border-radius: 5px;
    display: block;
}

#pago {
    width: 125px;
    background-color: white;
    border-radius: 10px;
}

#puntaje {
    width: 200px;
}

