* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Spartan', sans-serif;
}

body{
    background-color: #111010;
}

main {
    background-image:url(/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

/* Div del formulario */
#caja-formulario {
    background: rgb(154,0,0);
    background: linear-gradient(90deg, rgba(154,0,0,0.6) 20%, rgba(154,0,0,0.6) 20%);
    flex: 1 1 auto;
    min-width: 30%;
    max-width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 30px auto;
    padding: 20px;
    padding-top: 30px;
}

/* Título "Registrarse" */
#registrarse {
    margin-bottom: 10px;
    color: white;
    font-size: 1rem;
    font-weight: 100;
}

/* Formulario de registro */
#formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

/* Todos los input del formulario */
#formulario .input-text {
    border-radius: 5px;
    border-style: hidden;
    background-color: #323232;
    background-position: 5px center;
    background-repeat: no-repeat;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    width: 90%;
    margin: 10px;
    margin-bottom: 20px;
    border: solid 1.5px transparent;
    transition: border 0.5s;
}

/* Cuando el usuario está dentro de un input */
#formulario .input-text:focus {
    outline: none;
    border: solid 1.5px black;
}

/* Todos los placeholder de inputs */
main ::placeholder {
    color: white;
    opacity: 1;
    font-size: 0.5rem;
    padding-left: 5%;
}

/* Input usuario */
#usuario {
    background-image: url(/img/user.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5%;
    background-position-y: center;
}

/* Input email */
#email {
    background-image: url(/img/email.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5%;
    background-position-y: center;
}

.caja-contraseña {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    position: relative;
}

/* Inputs contraseña y confirmar contraseña */
.password {
    background-image: url(/img/padlock.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5%;
    background-position-y: center;
}

.toggle-password {
    background-color: transparent;
    background-image: url(/img/no-visibility.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    position: absolute;
    width: 3%;
    height: 3%;
    right: 12px;
    top: 17px;
    border-radius: 5px;
    border-style: none;
    color: white;
    padding: 10px 20px;
}

/* Div de recordarme y notificaciones */
#caja-preferencias {
    width: 100%;
    font-size: 0.8rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.container-preferencia input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.div-preferencia {
    margin: 5px 0 5px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container-preferencia {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}

/* Inputs de preferencias */
.checkmark {
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: white;
    justify-self: flex-start;
    cursor: pointer;
    color: transparent;
}

.container-preferencia input:checked ~ .checkmark {
    background-color: black;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-preferencia input:checked ~ .checkmark:after {
    display: block;
}

.container-preferencia .checkmark:after {
    bottom: 25%;
    left: 25%;
    width: 0.2em;
    height: 0.5em;
    border: solid #323232;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Botón de crear cuenta */
#formulario #crear-cuenta {
    background-color: #323232;
    border-radius: 5px;
    border-style: none;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.5s;
}

#formulario #crear-cuenta:hover {
    background-color: rgba(32, 32, 32, 1);
}

/* Texto ya tienes una cuenta */
#formulario p {
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 0.7rem;
    font-weight: 200;
    color: white;
    text-align: center;
}

/* Link al login */
#formulario p a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* Botón sign in with Google */
#google {
    border-radius: 10px;
    border-style: none;
    background-color: white;
    max-width: 50%;
    margin-bottom: 20px;
    align-self: center;
    color: #4285f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    flex: 1 1 auto;
}

/* Logo de Google */
#google img {
    width: 15px;
    justify-self: flex-start;
    margin: 2px;
}

/* Todos los botones */
button {
    cursor: pointer;
}

/* Todos los link a */
a {
    text-decoration: none;
    color: white;
}

@media (min-width: 500px) {
    #caja-formulario {
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .toggle-password {
        right: 18px;
    }

    #caja-preferencias {
        justify-content: space-around;
    }

    #google {
        max-width: 30%;
    }
}

@media (min-width: 768px) {
    #caja-formulario {
        border-radius: 30px;
    }

    #registrarse {
        font-size: 1.5rem;
    }

    main ::placeholder {
        font-size: 0.7rem;
    }

    #formulario .input-text {
        padding-left: 8%;
    }

    .toggle-password {
        right: 26px;
    }

    #caja-preferencias {
        font-size: 0.7rem;
        justify-content: space-around;
    }

    .checkmark {
        width: auto;
        margin-right: 5px;
        transition: background-color 0.3s;
    }

    .container-preferencia:hover input ~ .checkmark {
        background-color: #303030;
    }

    .container-preferencia .checkmark:after {
        width: 0.3em;
        height: 0.5em;
    }

    #google {
        font-size: 0.9rem;
        max-width: 40%;
        justify-content: space-around;
    }
}

