<!DOCTYPE html5>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/carrito.css">
        <title>Full Gamer | Carrito</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <div class="carro">
                <h2 id="carrito-titulo">Carrito</h2>
                <div class="products-container">
                </div>

                <div class="buscarmasproductos">
                    <input id="buscar-carro" placeholder="Seguir buscando productos" type="text"><i id="lupacarro"
                        class="fas fa-search"></i>
                </div>

                <div class="bottom">
                    <div class="comprar-total">
                        <b class="textoenvio">Calcule su envío en el próximo paso</b>
                        <p class="total">Total: $11119.23</p>
                    </div>
                    <a class="comprar" href="./login" type="submit">Comprar</a>
                </div>
            </div>
        </main>

        <%- include('./partials/footer.ejs') %>

        <script src="/js/cart.js"></script>

</body>
</html>